---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

const latestPosts = (await getCollection('blog', ({ data }) => data.draft !== true))
  .sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf())
  .slice(0, 3);
---

<BaseLayout title="Welkom" description="WaarIsNiels homepage">
  <h1>Welkom op WaarIsNiels</h1>
  <a href="/blog/">Ga naar de blog</a>

  <section>
    <h2>Laatste posts</h2>
    {latestPosts.length > 0 ? (
      latestPosts.map(post => <BlogPostPreview post={post} />)
    ) : (
      <p>Geen posts gevonden.</p>
    )}
  </section>
</BaseLayout>