---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Mijn eerste trip naar Colombia">
  <article>
    <h2>Cartagena & Medellín</h2>
    <p>Datum: 2024-07-01</p>
    <img src="/assets/colombia.jpg" alt="Cartagena's Old City" />
    <p>De Walled City was prachtig! Comuna 13 in Medellín is echt een aanrader. Meer binnenkort...</p>
  </article>
</BaseLayout>