---
// src/components/BlogPostPreview.astro
// Example props if needed:
// interface Props {
//   title: string;
//   description: string;
//   url: string;
// }
// const { title, description, url } = Astro.props;
---
<div>
  <h3>Blog Post Preview</h3>
  <p>Hier komen samenvattingen van mijn posts!!!!</p>
  <a href="#">Lees minder</a>
</div>